body
    {
        margin:0px;
    }
    #header
    {
        background:linear-gradient(45deg, magenta, limegreen);
        color:white;
        padding:10px;
    }
    #header h2
    {
        margin:5px 0px;
    }
    
    
